$lila: #8B185D;

body {
}

.container {
  background-color: white;
  h2 {
    color: $lila;
  }
}

.navbar-default {
  background-color: white;
  .navbar-toggle {
    border-color: transparent;
  }
  .navbar-brand {
    color: $lila;
    font-weight: bold;
  }
  .navbar-nav>li>a:hover {
    color: $lila;
    font-weight: bold;
  }
}

.spacer-navbar {
  height: 50px;
}
#social {
  img {
    margin: auto;
  }
}
#logo {
  position: relative;
  img {
    background-image: url("/images/paper.png");
  }
}

.top-buffer {
  margin-top: 20px;
}

#leistungen.container, #kontakt .container {
  background-color: transparent;
}

.card {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  .glyphicon {
    font-size: 40px;
  }
  .card-body {
    .card-title {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-text{
      height: 100px;
      text-align: initial;
      margin: auto;
      max-width: 300px;
    }
  }
  .card-footer {
    div {
      text-align: initial;
      padding-top: 20px;
      p {
        text-align: justify;
      }
    }
  }
}

#preise {
  .kilometer {
    text-align: right;
    p {
      font-size: 10px;
    }
  }
}